* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}

.container {
  padding: 30px 100px 10px 100px;
  margin: 0 auto;
}

h2 {
  color: #878787;
}

/* Header */

.header {
  display: flex;
  justify-content: space-around;
  /* position: fixed; */
  background-color: white;
  width: 100%;
  height: 60px;
  z-index: 40;
  padding-top: 15px;
}
.logo-container img {
  height: 45px;
  margin-left: 50px;
}
.header button {
  height: 40px;
  width: 150px;
  color: white;
  background-color: #50afb8;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  font-weight: lighter;
}

.header > span > button :last-of-type {
  margin-left: 40px;
}

.header-search-bar {
  margin-top: 4px;
  height: 38px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #f5f6f7;
  border: none;
  outline: none;
}
.header .deconnect-btn button {
  height: 40px;
  width: 150px;
  color: white;
  background-color: rgb(117, 14, 14);
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  font-weight: lighter;
  cursor: pointer;
}

/* Banner */

.banner {
  width: 100%;
  height: 500px;
}

.banner > img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  position: absolute;
}
.banner > :nth-child(2) {
  background-size: contain;
  height: 70px;
  position: relative;
  top: 94%;
  left: 2%;
}

.banner-box {
  width: 340px;
  height: 230px;
  background-color: white;
  z-index: 1;
  position: relative;
  top: 15%;
  left: 7%;
  padding-left: 35px;
  padding-top: 40px;
  line-height: 25px;
  border-radius: 3px;
}

.banner-box button {
  background-color: #50afb8;
  border: none;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
}

.banner-box p {
  color: #50afb8;
}

/* BODY */

.products {
  /* overflow-y: hidden; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  /* justify-content: space-around; */
}

.user-name-top {
  background-color: white;
  height: 25px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 70;
  margin-left: 20px;
  color: rgb(98, 97, 97);
}

.user-name-top img {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.product-box {
  height: 393px;
  width: 200px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 20px 20px 20px;
}
.product-box > img {
  object-fit: cover;
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 80%;
}

.price {
  color: black;
  font-weight: 90;
  font-size: 18px;
  text-align: left;
  margin-top: 3px;
}
.desc {
  text-overflow: ellipsis;
  font-weight: 70;
  font-size: 15px;
  color: rgb(98, 97, 97);
  text-align: left;
}

/* Offer */

.offer {
  background-color: #ebedee;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  height: 100vh;
  padding-bottom: 200px;
}
.left-box {
  background-color: #ebedee;
  height: auto;
  width: 800px;
}
.left-box > img {
  object-fit: cover;
  box-sizing: border-box;
  box-shadow: 0.2rem 0.2rem 0.2rem darkgrey;
}

.right-box {
  background-color: white;
  height: auto;
  width: 600px;
  padding: 5%;
}
.right-box button {
  margin-left: 40%;
  margin-top: 6%;
}
.product-details {
  margin-top: 10%;
  padding-bottom: 10%;

  border-bottom: 1.2px solid lightgray;
}

/* Signup form && Login form*/
.signup-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-content: center;
}
.signup-form h3 {
  font-size: 30px;
  font-weight: 250;
  text-align: center;
}

.sg-box input {
  height: 40px;
  width: 250px;
  margin: 10px;
  border: none;
  border-bottom: 0.5px solid lightgray;
}
.signup-form button {
  width: 250px;
  margin: 10px;
}

.reminder {
  font-size: 15px;
  margin: 10px;
  color: #51b1ba;
}

/* Offer Publish*/

.bg-form {
  background-color: #eeeaea;
  margin: 0 auto;
}

.publish-title {
  font-size: 26px;
  font-weight: 300;
}

.bg-form h3 {
  color: rgb(98, 97, 97);
  font-weight: 300;
}

.offer-form {
  /* background-color: white; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
}

.offer-form button {
}

.picture-box {
  background-color: white;
  min-height: 160px;
  height: auto;
  width: 1224px;
  border-radius: 5px;
}

.picture-box img {
  object-fit: cover;
  box-sizing: border-box;
  height: auto;
  width: auto;
  z-index: 2;
  position: relative;
}

.offer-box-desc {
  height: auto;
  max-height: 800px;
  max-width: 1224px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.offer-box-desc input {
  border: none;
  border-bottom: lightgray 0.5px solid;

  text-align: left;

  width: 400px;
  height: auto;
  min-height: 30px;
}

.line {
  border-bottom: 0.5px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 25px;
}

.line :nth-of-type(1) {
}

.line-desc {
  height: 140px;

  border-bottom: none;
}

.line-desc-two {
  border-bottom: none;
}

.offer-box {
  height: 80px;
  width: 1224px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

input[type="file"] {
  display: flex;
  justify-content: row;
  justify-content: center;
  width: 50vw;
  height: 100%;

  opacity: 0.7;
  font-size: 14px;
  cursor: pointer;
  color: red;
  padding-left: 44%;
  text-align: center;
}
::-webkit-file-upload-button {
  display: flex;
  font-weight: normal;
  justify-content: center;
  background: white;
  font-size: 18px;
  color: #50afb8;
  padding: 1em;
  border: 2.5px solid #50afb8;
  border-radius: 5px;
  cursor: pointer;
}

.offer-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-submit-btn,
button {
  background-color: #50afb8;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  width: 110px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* publish */

.textarea {
  width: 400px;
  border: none;
  outline: none;
  background-color: rgb(238, 234, 234);
  border-radius: 3px;
}
